AUTHOR = "Ubuntu"
NAME = 'ubuntu_kernel_selftests'
CRITERIA = """
Uses built-in kernel repository self tests.
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""


categories = ['breakpoints', 'cpu-hotplug', 'efivarfs', 'memfd', 'memory-hotplug', 'mount', 'net', 'ptrace', 'seccomp', 'timers', 'powerpc', 'user', 'ftrace']
#
#  The seccomp tests on 4.19+ on non-x86 are known to be fail and
#  need fixing up. For now, disable them.
#
release = platform.release().split(".")[:2]
release = int(release[0])*100 + int(release[1])
if 'seccomp' in categories and release > 418 and platform.machine() not in ['x86_64', 'ppc64le']:
    categories.remove('seccomp')

result = job.run_test_detail(NAME, test_name='setup', tag='setup', timeout=60*30)
if result == 'ERROR':
    print("ERROR: test failed to build, skipping all the sub tests")
else:
    for category in categories:
        build = '{}-build'.format(category)
        job.run_test_detail(NAME, test_name=build, tag=build, timeout=60*60)
        mk_helper = os.path.join(job.testdir, NAME, 'helper.mk')
        dir_src = os.path.join(job.bindir, 'tmp', NAME, 'src', 'linux/tools/testing/selftests/', category)
        mk_src = os.path.join(dir_src, 'Makefile')
        os.chdir(dir_src)
        cmd = 'make -f {} -f {} gettests'.format(mk_helper, mk_src)
        tests = utils.system_output(cmd).split()
        for item in tests:
            test = "{}:{}".format(category, os.path.basename(item))
            job.run_test_detail(NAME, test_name=test, tag=test, timeout=60*30)

# vi:set ts=4 sw=4 expandtab syntax=python:
