AUTHOR = "Ubuntu"
NAME = "selftests"
CRITERIA = """
Uses built-in kernel repository self tests.
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

import platform
import os

name = 'ubuntu_kernel_selftests'

tests = [ 'setup','breakpoints','cpu-hotplug','efivarfs','memfd','memory-hotplug','mount','net','ptrace','seccomp','timers','powerpc','user','ftrace' ]

#
#  The seccomp tests on 4.19+ on non-x86 are known to be fail and
#  need fixing up. For now, disable them.
#
release = platform.release().split(".")[:2]
release = int(release[0])*100 + int(release[1])
if 'seccomp' in tests and release > 418 and platform.machine() != 'x86_64':
	tests.remove('seccomp')

#
#  clang from llvm-10 in focal segfaults on s390 when building the bpf
#  selftests. Use tools from llvm-9 instead.
#
series = platform.dist()[2]
if series == 'focal':
    os.environ["CLANG"] = "clang-9"
    os.environ["LLC"] = "llc-9"
    os.environ["LLVM_OBJCOPY"] = "llvm-objcopy-9"
    os.environ["LLVM_READELF"] = "llvm-readelf-9"

for test in tests:
    results = job.run_test_detail('ubuntu_kernel_selftests', test_name=test, tag=test, timeout=60*30)

# vi:set ts=4 sw=4 expandtab syntax=python:
