AUTHOR = 'Chris J Arges <chris.j.arges@canonical.com>'
TIME = 'MEDIUM'
NAME = 'ubuntu_kvm_unit_tests'
TEST_TYPE = 'client'
TEST_CLASS = 'Kernel'
TEST_CATEGORY = 'Functional'
DOC = '''
kvm-unit-tests is the upstream project that tests KVM:
http://git.kernel.org/cgit/virt/kvm/kvm-unit-tests.git
'''

# When running the whole suite with ./run_test -v, these are the test in
# nodefault group and will be marked as:
#     test marked as manual run only
# Switch to standalone mode so we need to exclude them explicitly
BLACKLIST = [
    "hyperv_clock",
    "vmware_backdoors"
]

job.run_test_detail(NAME, test_name='setup', tag='setup', timeout=60*30)

tests_dir = os.path.join(job.bindir, 'tmp', NAME, 'src', 'kvm-unit-tests', 'tests')
try:
    tests_list = os.listdir(tests_dir)
    tests_list.sort()
    for test in tests_list:
        if test in BLACKLIST:
            print("BLACKLISTED: " + test)
            continue
        job.run_test_detail(NAME, test_name=test, tag=test, timeout=60*30)
except OSError:
    print("ERROR: kvm-unit-tests/test does not exist, skipping all the sub tests")

# vi:set ts=4 sw=4 expandtab syntax=python:
