AUTHOR = 'Chris J Arges <chris.j.arges@canonical.com>'
TIME = 'MEDIUM'
NAME = 'ubuntu_kvm_unit_tests'
TEST_TYPE = 'client'
TEST_CLASS = 'Kernel'
TEST_CATEGORY = 'Functional'
DOC = '''
kvm-unit-tests is the upstream project that tests KVM:
http://git.kernel.org/cgit/virt/kvm/kvm-unit-tests.git
'''

# BLACKLIST is a list of kvm-unit-tests that we know we don't want to run
#
BLACKLIST = ['apic','emulator','idt_test','pmu','s3','vmx','debug']

job.run_test_detail(NAME, test_name='setup', tag='setup.all')

tests_rc = os.path.join(job.bindir, 'tmp', NAME, 'src', 'tests.txt')
if os.path.exists(tests_rc):
    content = open(tests_rc).readlines()
    tests = [ line.split(':') for line in content ]

    for test in tests:
        test_name = test[0].strip() # The name of the test we want to run
        if test_name in BLACKLIST:
            print("BLACKLISTED: " + test_name)
            continue
        # constuct test command, append return polarity switch
        test_cmd = test[1].strip() + "; [ $? -le 1 ]"
        job.run_test_detail(NAME, test_name=test_name, tag=test_name, cmd=test_cmd)

# vi:set ts=4 sw=4 expandtab syntax=python:

