AUTHOR = "Ubuntu"
NAME = "kvm_smoke_test"
CRITERIA = """
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

name = 'ubuntu_kvm_smoke_test'

results = job.run_test_detail('ubuntu_kvm_smoke_test', test_name='kvm_smoke_test', tag='kvm_smoke_test', timeout=60*60*1)

# vi:set ts=4 sw=4 expandtab syntax=python:
