AUTHOR = "Ubuntu"
NAME = "ubuntu_ltp"
CRITERIA = """
Use the upstream LTP repository
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

result = job.run_test_detail(NAME, test_name='setup', tag='setup', timeout=40*60)
if result == 'ERROR':
    print("ERROR: test failed to build, skipping all the sub tests")
else:
    tests = [
        'fs',         'mm',           'commands',
        'cpuhotplug', 'net.ipv6_lib', 'cve',         'crypto'
    ]
    for test in tests:
        results = job.run_test_detail(NAME, test_name=test, tag=test, timeout=60*60*2)

# vi:set ts=4 sw=4 expandtab syntax=python:
