AUTHOR = "Ubuntu"
NAME = "ubuntu_blktrace_smoke_test"
CRITERIA = """
blktrace Kernel Smoke Test
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

result = job.run_test_detail(NAME, test_name='setup', tag='setup', timeout=60*20)
if result == 'ERROR':
    print("ERROR: test failed to build, skipping all the sub tests")
else:
    results = job.run_test_detail(NAME, test_name='blktrace-smoke-test', tag='blktrace-smoke-test', timeout=60*20)

# vi:set ts=4 sw=4 expandtab syntax=python:
