AUTHOR = "Ubuntu"
NAME = "ubuntu_performance_stream"
CRITERIA = """
Uses the stream benchmark to measure memory and compute throughput"
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Benchmark'
TEST_TYPE = "client"
DOC = ""

name = 'ubuntu_performance_stream'

results = job.run_test_detail('ubuntu_performance_stream', test_name='setup', tag='setup', timeout=60*30)
results = job.run_test_detail('ubuntu_performance_stream', test_name='ubuntu-performance-stream', tag='ubuntu-performance-stream', timeout=60*30) # 30 minute timeout

# vi:set ts=4 sw=4 expandtab syntax=python:
