AUTHOR = "Ubuntu"
NAME = "ubuntu_stress_btrfs_cmd"
CRITERIA = """
Uses stress btrfs command line tool
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

name = 'ubuntu_stress_btrfs_cmd'

results = job.run_test_detail('ubuntu_stress_btrfs_cmd', test_name='stress-btrfs-cmd', tag='stress-btrfs-cmd')

# vi:set ts=4 sw=4 expandtab syntax=python:
