AUTHOR = "Ubuntu"
NAME = "stress_ng"
CRITERIA = """
Uses Kees Cook's seccomp tests.
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

name = 'ubuntu_stress_ng'

results = job.run_test_detail('ubuntu_stress_ng', test_name='stress-ng', tag='stress-ng')

# vi:set ts=4 sw=4 expandtab syntax=python:
