ME="SHORT"
AUTHOR = "Brad Figg <brad.figg@canonical.com>"
DOC = """
qrt is the ubuntu quality-regression-tests
"""
NAME = 'ubuntu_qrt_kernel_panic'
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'

tests = [
    'setup',
    'test-kernel-panic.py',
]

for test in tests:
    result = job.run_test_detail('ubuntu_qrt_kernel_panic', test_name=test, tag=test, timeout=60*20)

# vi:set ts=4 sw=4 expandtab syntax=python:
