AUTHOR = "Ubuntu"
NAME = "ubuntu_performance_fio"
CRITERIA = """
Uses FIO for various performance metrics"
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Benchmark'
TEST_TYPE = "client"
DOC = ""

name = 'ubuntu_performance_fio'

tests = [
	'rd-100,wr-0,rand,blk-8k,jobs-4,iodepth-32',
	'rd-100,wr-0,rand,blk-8k,jobs-8,iodepth-32',
	'rd-100,wr-0,rand,blk-8k,jobs-16,iodepth-32',

	'rd-100,wr-0,rand,blk-128k,jobs-4,iodepth-8',
	'rd-100,wr-0,rand,blk-128k,jobs-8,iodepth-8',
	'rd-100,wr-0,rand,blk-128k,jobs-16,iodepth-8',

	'rd-100,wr-0,seq,blk-128k,jobs-4,iodepth-8',
	'rd-100,wr-0,seq,blk-128k,jobs-8,iodepth-8',
	'rd-100,wr-0,seq,blk-128k,jobs-16,iodepth-8',

	'rd-0,wr-100,rand,blk-8k,jobs-4,iodepth-32',
	'rd-0,wr-100,rand,blk-8k,jobs-8,iodepth-32',
	'rd-0,wr-100,rand,blk-8k,jobs-16,iodepth-32',

	'rd-0,wr-100,seq,blk-128k,jobs-16,iodepth-8',
	'rd-0,wr-100,seq,blk-128k,jobs-4,iodepth-8',
	'rd-0,wr-100,seq,blk-128k,jobs-8,iodepth-8',

	'rd-75,wr-25,rand,blk-8k,jobs-16,iodepth-32',
	'rd-75,wr-25,rand,blk-8k,jobs-4,iodepth-32',
	'rd-75,wr-25,rand,blk-8k,jobs-8,iodepth-32',
]

results = job.run_test_detail('ubuntu_performance_fio', test_name='setup', tag='setup', media='')

#
#  Media is 'ramdisk' (/dev/shm) or 'dataset' (normally a raid device)
#
for media_type in [ 'ramdisk', 'dataset' ]:
    for test in tests:
	results += job.run_test_detail('ubuntu_performance_fio', test_name=test, tag='ubuntu-performance-fio-' + media_type + '-' + test, media=media_type, timeout=120*60)

print results

# vi:set ts=4 sw=4 expandtab syntax=python:
