AUTHOR = "Ricardo Salveti de Araujo <rsalveti@linux.vnet.ibm.com"
NAME = "fsstress"
TEST_CATEGORY = "Stress"
TEST_CLASS = "General"
TEST_TYPE = "client"
TIME = 'MEDIUM'
DOC='''
A benchmark that tries to capture both transactional DB workloads and
random web server ones. It writes about 24MB/s but has many small writes a
second. It does a lot of this randomly but lets you go back to replay the
randomness

More information about fsstress can be found at
http://www.cs.duke.edu/ari/fstress/
'''
for filesys in [ 'ext2', 'ext3', 'ext4', 'jfs', 'xfs' ]:
    job.run_test('fsstress', fs=filesys, tag=filesys)
