AUTHOR = "Ubuntu"
NAME = "ubuntu_loop_smoke_test"
CRITERIA = """
Kernel Loopback Smoke Test
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

name = 'ubuntu_loop_smoke_test'

results = job.run_test_detail('ubuntu_loop_smoke_test', test_name='setup', tag='setup', timeout=60*20)
results = job.run_test_detail('ubuntu_loop_smoke_test', test_name='loop-smoke-test', tag='loop-smoke-test', timeout=60*30)

# vi:set ts=4 sw=4 expandtab syntax=python:
