AUTHOR = "Chris J Arges <chris.j.arges@canonical.com>"
NAME = "Ubuntu CVE Kernel Tests"
PURPOSE = "Provide testing for CVE exploits"
CRITERIA = """
Tests publicly available CVE exploits
"""
SUITE = "None"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "regression"
TEST_TYPE = "client"
DOC = """
Tests publicly available CVE exploits
"""

name = 'ubuntu_cve_kernel'

CVES=['CVE-2015-7550', 'CVE-2015-8543', 'CVE-2015-8660', 'CVE-2016-0728', 'CVE-2016-3134', 'CVE-2016-3135', 'CVE-2016-3672']
for cve in CVES:
    result = job.run_test_detail(name, cve=cve, tag=cve)

