AUTHOR = "Ubuntu"
NAME = "seccomp"
CRITERIA = """
Uses Kees Cook's seccomp tests.
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

name = 'ubuntu_seccomp'

results = job.run_test_detail('ubuntu_seccomp', test_name='setup', tag='setup', timeout=60*20)
results = job.run_test_detail('ubuntu_seccomp', test_name='seccomp', tag='seccomp', timeout=60*20)

# vi:set ts=4 sw=4 expandtab syntax=python:
