AUTHOR = "Ubuntu"
NAME = "ubuntu_seccomp"
CRITERIA = """
Uses Kees Cook's seccomp tests.
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""


result = job.run_test_detail(NAME, test_name='setup', tag='setup', timeout=60*20)
if result == 'ERROR':
    print("ERROR: test failed to build, skipping all the sub tests")
else:
    tests_dir = os.path.join(job.bindir, 'tmp', NAME, 'src', 'libseccomp', 'tests')
    files_list = os.listdir(tests_dir)
    files_list.sort()
    for test in files_list:
        if test.endswith('.tests'):
            target = test.replace('.tests', '')
            job.run_test_detail(NAME, test_name=target, tag=target, timeout=60*3)

# vi:set ts=4 sw=4 expandtab syntax=python:
