AUTHOR = "Chris J Arges"
NAME = "Ubuntu CTS Kernel Regression Tests"
PURPOSE = "Provide regression testing for CTS related bugs"
CRITERIA = """
Tests kernel related regressions that are relevant for the CTS team.
"""
SUITE = "None"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "regression"
TEST_TYPE = "client"
DOC = """
These test regressions of specific kernel bugs.
"""

name = 'ubuntu_cts_kernel'

BUGS=['lp1256988','lp1153769','lp1262692','lp1026116']
for bug in BUGS:
    result = job.run_test_detail(name, bug=bug, tag=bug)

