AUTHOR = "Chris J Arges"
NAME = "Ubuntu CTS Kernel Regression Tests"
PURPOSE = "Provide regression testing for CTS related bugs"
CRITERIA = """
Tests kernel related regressions that are relevant for the CTS team.
"""
SUITE = "None"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "regression"
TEST_TYPE = "client"
DOC = """
These test regressions of specific kernel bugs.
"""
# Try to figure out the name of the network device. With biosdevname it could
# be other than 'eth0'.
#
ifname = 'eth0'
content = open('/etc/network/interfaces').readlines()
for line in content:
    if 'dhcp' in line:
        ifname = line.split()[1]

name = 'ubuntu_cts_kernel'

BUGS=['lp1256988','lp1153769','lp1262692','lp1026116']
for bug in BUGS:
    result = job.run_test_detail(name, bug=bug, tag=bug, ifname=ifname)

