AUTHOR = "Ubuntu"
NAME = "ubuntu_lttng_smoke_test"
CRITERIA = """
LTTNG Kernel Smoke Test
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

name = 'ubuntu_lttng_smoke_test'

results = job.run_test_detail('ubuntu_lttng_smoke_test', test_name='lttng-smoke-test', tag='lttng-smoke-test')

# vi:set ts=4 sw=4 expandtab syntax=python:
