AUTHOR = "Ubuntu"
NAME = "futex"
CRITERIA = """
Darren Hart's futex test suite
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

name = 'ubuntu_futex'

results = job.run_test_detail('ubuntu_futex', test_name='futex', tag='futex', timeout=60*20)

# vi:set ts=4 sw=4 expandtab syntax=python:
