import os

AUTHOR = "Ubuntu"
NAME = "ubuntu_performance_misc"
CRITERIA = """
Miscellaneous Performance Regression Tests
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Benchmark'
TEST_TYPE = "client"
DOC = ""

name = 'ubuntu_performance_misc'

tests = [ 'kernel-wakeups',
	  'userspace-wakeups',
          'interrupts' ]

results = job.run_test_detail(name, tag='setup', test_name='setup')

for test in sorted(tests):
        results = job.run_test_detail(name, tag=test, test_name=test, timeout=600)
        print results

# vi:set ts=4 sw=4 expandtab syntax=python:
