ME="SHORT"
AUTHOR = "Brad Figg <brad.figg@canonical.com>"
DOC = """
qrt is the ubuntu quality-regression-tests
"""
NAME = 'qrt'
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = 'client'

tests = [
    'setup',
    'test-kernel-hardening.py',
    'test-kernel-aslr-collisions.py',
    'test-kernel-panic.py',
    'test-kernel-security.py',
    'test-apparmor.py'
]

for test in tests:
    result = job.run_test_detail('qrt', test_name=test, tag=test, timeout=60*60)

# vi:set ts=4 sw=4 expandtab syntax=python:
