AUTHOR = "Ubuntu"
NAME = "ubuntu_zfs_fstest"
CRITERIA = """
Test zfs with fstest POSIX functional tests
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

results = job.run_test_detail('ubuntu_zfs_fstest', test_name='setup')
print "Invoking zfs fstest functional tests.."
results = job.run_test_detail('ubuntu_zfs_fstest', test_name='zfs-tests', tag='zfs-tests', timeout=5*60)

print "Done!"

# vi:set ts=4 sw=4 expandtab syntax=python:
