AUTHOR = "Ubuntu"
NAME = "ubuntu_generic_fstest"
CRITERIA = """
Test generic filesystems with fstest POSIX functional tests
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

#
# This forces setup() to be run, it is in fact a no-op test
#
results = job.run_test_detail('ubuntu_generic_fstest', test_name='setup')

print("Invoking fstest functional tests..")

#
#  xfs test fail POSIX tests chown/00.t 141, 145, 159, 153
#
tests = [ 'ext2', 'ext3', 'ext4', 'xfs', 'btrfs', 'jfs' ]
for t in tests:
	results = job.run_test_detail('ubuntu_generic_fstest', test_name=t, tag=t, timeout=5*60)

print("Done!")

# vi:set ts=4 sw=4 expandtab syntax=python:
