AUTHOR = "Ubuntu"
NAME = "LXC Tests"
CRITERIA = """
Uses the lxc-tests package.
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = "Test as much of the LXC kernel functionality as possible"

name = 'ubuntu_lxc'

results = job.run_test_detail('ubuntu_lxc', test_name='setup', tag='setup')
results = job.run_test_detail('ubuntu_lxc', test_name='exercise', tag='exercise', timeout=60*60*2)

# vi:set ts=4 sw=4 expandtab syntax=python:
