AUTHOR = "Ubuntu"
NAME = "ubuntu_zfs"
CRITERIA = """
Test zfs with zfs-test functional tests
"""
SUITE = "None"
TIME = "SHORT"
TEST_CLASS = 'kernel'
TEST_CATEGORY = 'Functional'
TEST_TYPE = "client"
DOC = ""

#
# This forces setup() to be run, it is in fact a no-op test
#
results = job.run_test_detail('ubuntu_zfs', test_name='setup')

#
#
# ..so run scripts that have the executable x flag set
#
print "Invoking zfs functional tests.."
results = job.run_test_detail('ubuntu_zfs', test_name='zfs-tests', tag='zfs-tests', timeout=60*60*3)

print "Done!"

# vi:set ts=4 sw=4 expandtab syntax=python:
